<div class="container">
    <div class="row">
        <div class="col-4 p-3">
            <form action="">
                <div class="mb-3">
                    <label for="strNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="strNombre" placeholder="Ingrese el nombre">
                </div>
                <div class="mb-3">
                    <label for="strDireccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="strDireccion" placeholder="Ingrese la dirección">
                </div>
                <div class="mb-3">
                    <label for="strTelefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="strTelefono" placeholder="Ingrese el Teléfono">
                </div>
                <div class="mb-3">
                    <label for="strUrlWeb" class="form-label">Url Web</label>
                    <input type="text" class="form-control" id="strUrlWeb" placeholder="Ingrese la Url">
                </div>
                <button type="button" class="btn btn-success">Nuevo</button>
            </form>
        </div>
        <div class="col-8 p-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Dirección</th>
                      <th scope="col">Teléfono</th>
                      <th scope="col">Url Web</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>

</div>
