<div class="container">
    <div class="row">
        <div class="col-4 p-3">
            <form action="">
                <div class="mb-3">
                    <label for="idUsuario" class="form-label">Cliente</label>
                    <input type="text" class="form-control" id="idUsuario" placeholder="Ingrese el ID del Cliente">
                </div>
                <div class="mb-3">
                    <label for="idAnimalito" class="form-label">Mascota</label>
                    <input type="text" class="form-control" id="idAnimalito" placeholder="Ingrese el ID de la mascota">
                </div>
                <div class="mb-3">
                    <label for="idTienda" class="form-label">Tienda</label>
                    <input type="text" class="form-control" id="idTienda" placeholder="Ingrese el ID de la Tienda">
                </div>
                <div class="mb-3">
                    <label for="nmbPrecio" class="form-label">Precio de la compra</label>
                    <input type="number" class="form-control" id="nmbPrecio" placeholder="Ingrese el precio de la compra">
                </div>
                <button type="button" class="btn btn-success">Nuevo</button>
            </form>
        </div>
        <div class="col-8 p-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">Cliente</th>
                      <th scope="col">Mascota</th>
                      <th scope="col">Tienda</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>

</div>
